@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Simples CRUD utilizando Aspnet Core 2.0, com EF Core 2.0, Code First(SqlServer), Migrations e Padrão Repositório. Por Michelle Rodrigues</p>
