@{
    ViewData["Title"] = "Fale Conosco";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Piedade - Rio de Janeiro - RJ<br />
    Brasil<br />
    <abbr title="Telefone">Zap:</abbr>
    +5521 98711-5845
</address>

<address>
    <strong>Support:</strong> <a href="mica.msr@gmail.com">mica.msr@gmail.com</a><br />
</address>
